---
import { Tick } from "@components/ui/icons";
import Link from "@components/ui/link.astro";
const { PRICING } = Astro.props;
let features:string[] = [];
for (let i = PRICING.length - 1; i >= 0; i--) { 
  const plan = PRICING[i];
  plan.features.forEach(feature=>{
    if (!features.includes(feature)) features.push(feature);
  })
}
---
<div class="mt-4 w-full overflow-x-auto">
  <table class="mx-auto">
    <thead>
      <tr>
        <th></th>
        {PRICING.map((plan, index) => (
          <th>
            <div class="text-center p-4">
              {plan.comingSoon && (
                <h6 class="text-lg font-medium text-gray-400">Coming Soon</h6>
              )}
              <h4 class="text-lg font-medium text-gray-400">{plan.name}</h4>
              <p
                class="mt-3 text-4xl font-bold text-black md:text-4xl">
                {
                  plan.price && typeof plan.price === "object"
                    ? (plan.price as any).monthly
                    : plan.price
                }
                <sup>
                  {plan.priceAsterisk ? index+1 : ""}
                </sup>
              </p>
              {/* 
                plan.price.original && (
                  <p class="mt-1 text-xl font-medium text-gray-400 line-through md:text-2xl">
                    {plan.price.original}
                  </p>
                )
              */}
            </div>
          </th>
        ))}
      </tr>
    </thead>
    <tbody>
      {features.map((feature) => (
        <tr class="border-slate-300 border-solid border-t h-12">
          <td>{feature}</td>
          {PRICING.map((plan) => plan.features.includes(feature) ? (
            <td>
              <Tick class="w-6 h-6 mx-auto text-green-500" />
            </td>
          ) : (
            <td></td>
          ))}
        </tr>
      ))}
      <tr>
        <td></td>
        {PRICING.map((plan) => (
          <td class="h-20">
            <div class="mx-auto w-fit">
              <Link
                href={plan.action.href || "#"}
                style={plan.popular ? "primary" : "outline"}>
                {plan.action.text || "Get Started"}
              </Link>
            </div>
          </td>
        ))}
      </tr>
      {PRICING.map((plan, index)=>(plan.priceAsterisk && 
        <tr><td colspan={PRICING.length+1}><sup>
          {index+1}&nbsp;{plan.name}:&nbsp;{plan.priceAsterisk}
        </sup></td></tr>
      ))}
    </tbody>
  </table>
</div>

